* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  width: 20%;
  background: linear-gradient(-90deg, #1a1f4b, #3a2b7c, #6a5ab1);
  padding: 20px;
}

.sidebar img {
  margin-bottom: 30px;
}

.bar {
  font-size: 18px;
  color: white;
}

.bar p {
  padding: 15px 0px;
  padding-left: 5px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.bar p:hover {
  background: #6a5ab1;
  border-radius: 8px;
}

.bar-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.nav h2 {
  color: #333;
  font-size: 1.5em;
}

.nav input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.nav input::placeholder {
  color: #999;
}

.user {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user p {
  color: #333;
  font-weight: bold;
}

.main-content {
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  padding: 20px;
}

.leftBox {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.rightBox {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 10px;
}

.top-box {
  display: flex;
  padding: 20px 10px;
}
.balance {
  width: 100%;
  background-color: #3a2b7c;
  height: 100px;
  margin: 5px;
  color: white;
  border-radius: 12px;
}
.balance .tb {
  padding: 10px;
}
.balance .tbb {
  font-size: 22px;
  padding: 10px;
}
.expenses {
  width: 100%;
  background-color: #1a1f4b;
  height: 100px;
  margin: 5px;
  color: white;
  border-radius: 12px;
}

.expenses .te {
  padding: 10px;
}
.expenses .teb {
  font-size: 22px;
  padding: 10px;
}
.center-box {
  padding: 20px;
  background-color: black;
  border-radius: 12px;
}
.center-box img {
  padding: 20px;
  height: 350px;
}
